* {
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Limelight', cursive;
}

#background-image {
    background-image: url('/diner.jpg');
    background-repeat: no-repeat;
}

h1, h2, h3 {
    color: black;
    background-color: #EFE6E6;
    border-radius: 5px;
    padding: 10px;
    opacity: 0.60;
    text-align: center;
    text-shadow: 2px 2px #DBD3D3;
}

/* .to-eat, .add-burger, .eaten {
    float: left;
    margin: 25px 35px 5px 45px;
} */

button {
    background-color: #625959;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: grabbing;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px;
    margin: 5px;
    background: #EFE6E6;
    border-radius: 5px;
    font-size: 20px;
    /* min-height: 15px; */
  }
  
  label {
    padding: 5px;
    background: #EFE6E6;
    border-radius: 5px;
    font-weight: bold;

  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  